
<div class="jumbotron">

  <p class="lead">This is Harvey</p>
  <h3 class="display-6">Harvey is Hungry</h2>
  <h1 class="display-2">Feed Harvey</h1>

  
</div>

<div class="container">
  
  <div class="row justify-content-center">

    {{!-- Devoured False/0 Column with input --}}
    <div class="col-sm-4 col-md-4 col-lg-4">

      <div id="forminput" class="justify-content-center">
    
        <form class="create-form">

          <div class="input-group">
                      
            <input id="addfeed" class="form-control">

              <span class="input-group-btn">

                <button class="btn btn-info" id="add" type="submit">Add Food</button>

              </span>
              
          </div>

        </form>

      </div>

       <hr>

      <ol id="not-devoured">
        
        {{!-- Use each to display every item in Food Obj--}}
        {{#each foodObj }}
        
          {{!-- if false, render --}}
          {{#unless devoured}}

            <li><span>{{ food_name }}</span>
            <button data-id="{{id}}" class="feed-harvey btn btn-info">Feed Harvey</button></li>

          {{/unless}}

        {{/each}}

      </ol>
        
        {{!-- end column 1 --}}
    </div>


    {{!-- Column Harvey img --}}
      
    {{!-- https://happydorid.tumblr.com/post/148484344109/plant-friend --}}

      <div class="col-sm-4 col-md-4 col-lg-4 col-harvey-img align-content-center">

        {{!-- <p class="feedme">Feed Me!</p> --}}

        <img id="harvey" class="img-responsive" src="/assets/images/harvey.jpg" height={{imgSize}} width={{imgSize}} alt="Harvey Plant Image">

        <p id="feedme">Feed Me!</p>

      </div>


    {{!-- Devoured True/1 Column --}}

    <div class="col-sm-4 col-md-4 col-lg-4 align-content-center">

      {{!-- <h4>Fed</h4> --}}
      
      
      
      <button class="btn btn-info" id="deleteall" type="submit">Digest Food</button>

      <hr>

      <ol id="devoured">
        {{!-- Use each to display every item in foodObj --}}
        {{#each foodObj }}
        
          {{!-- if true, render --}}
          {{#if devoured}}

            <li><span>{{ food_name }}</span> <button data-id="{{id}}" class="fed btn" disabled>Fed</button></li>

          {{/if}}
          
        {{/each}}

      </ol>

    </div>


  {{!-- end row --}}
  </div>

{{!-- end container --}}
</div>

